:root {
  --vscode-font-family: system-ui, -apple-system, "Segoe UI", "Ubuntu", sans-serif;
  --vscode-font-size: 13px;
  --vscode-font-weight: normal;
  --vscode-editor-font-family: "Droid Sans Mono", "monospace", monospace;
  --vscode-editor-background: #1f1f1f;
  --vscode-foreground: #cccccc;
  --vscode-descriptionForeground: #9d9d9d;
  --vscode-disabledForeground: #cccccc80;
  --vscode-errorForeground: #f85149;
  --vscode-focusBorder: #0078d4;
  --vscode-icon-foreground: #cccccc;
  --vscode-list-hoverBackground: #2a2d2e;
  --vscode-list-activeSelectionBackground: #04395e;
  --vscode-list-activeSelectionForeground: #ffffff;
  --vscode-list-inactiveSelectionBackground: #37373d;
  --vscode-list-inactiveSelectionForeground: #cccccc;
  --vscode-list-focusOutline: #0078d4;
  --vscode-input-background: #313131;
  --vscode-input-foreground: #cccccc;
  --vscode-input-border: #3c3c3c;
  --vscode-input-placeholderForeground: #989898;
  --vscode-dropdown-background: #313131;
  --vscode-dropdown-foreground: #cccccc;
  --vscode-dropdown-border: #3c3c3c;
  --vscode-button-background: #0078d4;
  --vscode-button-foreground: #ffffff;
  --vscode-button-hoverBackground: #026ec1;
  --vscode-button-border: #ffffff12;
  --vscode-button-secondaryBackground: #313131;
  --vscode-button-secondaryForeground: #cccccc;
  --vscode-button-secondaryHoverBackground: #3c3c3c;
  --vscode-toolbar-hoverBackground: #5a5d5e50;
  --vscode-textLink-foreground: #4daafc;
  --vscode-textLink-activeForeground: #4daafc;
  --vscode-panel-border: #2b2b2b;
  --vscode-widget-shadow: #0000005c;
  --vscode-inputValidation-warningBackground: #352a05;
  --vscode-inputValidation-warningBorder: #b89500;
  --vscode-gitDecoration-addedResourceForeground: #81b88b;
  --vscode-gitDecoration-deletedResourceForeground: #c74e39;
  --vscode-gitDecoration-modifiedResourceForeground: #e2c08d;
  --vscode-gitDecoration-renamedResourceForeground: #73c991;
  --vscode-charts-red: #f14c4c;
  --vscode-charts-blue: #3794ff;
  --vscode-charts-yellow: #cca700;
  --vscode-charts-green: #89d185;
  --vscode-charts-purple: #b180d7;
  --vscode-terminal-ansiCyan: #11a8cd;
  --vscode-panel-background: #181818;
  --vscode-sash-hoverBorder: #0078d4;
  --vscode-list-focusBackground: #04395e80;
  --vscode-list-highlightForeground: #2aaaff;
  --vscode-inputOption-activeBackground: #2489db82;
  --vscode-inputOption-activeBorder: #2488db;
  --vscode-inputOption-activeForeground: #ffffff;
  --vscode-inputValidation-errorBorder: #be1100;
}
