:root {
  --vscode-font-family: system-ui, -apple-system, "Segoe UI", "Ubuntu", sans-serif;
  --vscode-font-size: 13px;
  --vscode-font-weight: normal;
  --vscode-editor-font-family: "Droid Sans Mono", "monospace", monospace;
  --vscode-editor-background: #ffffff;
  --vscode-foreground: #292929;
  --vscode-descriptionForeground: #292929;
  --vscode-disabledForeground: #7f7f7f;
  --vscode-errorForeground: #b5200d;
  --vscode-focusBorder: #006bbd;
  --vscode-contrastBorder: #0f4a85;
  --vscode-contrastActiveBorder: #006bbd;
  --vscode-icon-foreground: #292929;
  --vscode-list-activeSelectionForeground: #292929;
  --vscode-list-focusOutline: #006bbd;
  --vscode-input-background: #ffffff;
  --vscode-input-foreground: #292929;
  --vscode-input-border: #0f4a85;
  --vscode-input-placeholderForeground: #292929b3;
  --vscode-dropdown-background: #ffffff;
  --vscode-dropdown-foreground: #292929;
  --vscode-dropdown-border: #0f4a85;
  --vscode-button-background: #0f4a85;
  --vscode-button-foreground: #ffffff;
  --vscode-button-border: #0f4a85;
  --vscode-button-secondaryBackground: #ffffff;
  --vscode-button-secondaryForeground: #292929;
  --vscode-textLink-foreground: #0f4a85;
  --vscode-textLink-activeForeground: #0f4a85;
  --vscode-panel-border: #0f4a85;
  --vscode-inputValidation-warningBackground: #ffffff;
  --vscode-inputValidation-warningBorder: #0f4a85;
  --vscode-gitDecoration-addedResourceForeground: #374e06;
  --vscode-gitDecoration-deletedResourceForeground: #ad0707;
  --vscode-charts-red: #b5200d;
  --vscode-charts-blue: #0f4a85;
  --vscode-charts-yellow: #895503;
  --vscode-charts-green: #374e06;
  --vscode-charts-purple: #652d90;
  --vscode-charts-orange: #8f5a00;
  --vscode-panel-background: #ffffff;
  --vscode-sash-hoverBorder: #006bbd;
  --vscode-list-focusBackground: transparent;
}
