:root {
  --vscode-font-family: system-ui, -apple-system, "Segoe UI", "Ubuntu", sans-serif;
  --vscode-font-size: 13px;
  --vscode-font-weight: normal;
  --vscode-editor-font-family: "Droid Sans Mono", "monospace", monospace;
  --vscode-editor-background: #ffffff;
  --vscode-foreground: #3b3b3b;
  --vscode-descriptionForeground: #616161;
  --vscode-disabledForeground: #61616180;
  --vscode-errorForeground: #a1260d;
  --vscode-focusBorder: #005fb8;
  --vscode-icon-foreground: #424242;
  --vscode-list-hoverBackground: #f2f2f2;
  --vscode-list-activeSelectionBackground: #e8e8e8;
  --vscode-list-activeSelectionForeground: #000000;
  --vscode-list-inactiveSelectionBackground: #e4e6f1;
  --vscode-list-inactiveSelectionForeground: #3b3b3b;
  --vscode-list-focusOutline: #005fb8;
  --vscode-input-background: #ffffff;
  --vscode-input-foreground: #3b3b3b;
  --vscode-input-border: #cecece;
  --vscode-input-placeholderForeground: #767676;
  --vscode-dropdown-background: #ffffff;
  --vscode-dropdown-foreground: #3b3b3b;
  --vscode-dropdown-border: #cecece;
  --vscode-button-background: #005fb8;
  --vscode-button-foreground: #ffffff;
  --vscode-button-hoverBackground: #0258a8;
  --vscode-button-border: #0000001a;
  --vscode-button-secondaryBackground: #e5e5e5;
  --vscode-button-secondaryForeground: #3b3b3b;
  --vscode-button-secondaryHoverBackground: #cccccc;
  --vscode-toolbar-hoverBackground: #b8b8b850;
  --vscode-textLink-foreground: #005fb8;
  --vscode-textLink-activeForeground: #005fb8;
  --vscode-panel-border: #e5e5e5;
  --vscode-widget-shadow: #00000029;
  --vscode-inputValidation-warningBackground: #f6f5d2;
  --vscode-inputValidation-warningBorder: #bf8803;
  --vscode-gitDecoration-addedResourceForeground: #587c0c;
  --vscode-gitDecoration-deletedResourceForeground: #ad0707;
  --vscode-charts-red: #e51400;
  --vscode-charts-blue: #1a85ff;
  --vscode-charts-yellow: #bf8803;
  --vscode-charts-green: #388a34;
  --vscode-charts-purple: #652d90;
  --vscode-terminal-ansiCyan: #0598bc;
  --vscode-panel-background: #f8f8f8;
  --vscode-sash-hoverBorder: #005fb8;
  --vscode-list-focusBackground: #e8e8e880;
  --vscode-list-highlightForeground: #0066bf;
  --vscode-inputOption-activeBackground: #bed6ed;
  --vscode-inputOption-activeBorder: #007acc;
  --vscode-inputOption-activeForeground: #000000;
  --vscode-inputValidation-errorBorder: #be1100;
  --vscode-checkbox-background: #f8f8f8;
  --vscode-checkbox-border: #cecece;
  --vscode-checkbox-foreground: #3b3b3b;
  --vscode-checkbox-selectBackground: #f8f8f8;
  --vscode-checkbox-selectBorder: #cecece;
  --vscode-settings-checkboxBackground: #f8f8f8;
  --vscode-settings-checkboxBorder: #cecece;
  --vscode-settings-checkboxForeground: #3b3b3b;
  --vscode-badge-background: #c4c4c4;
  --vscode-badge-foreground: #333333;
  --vscode-editorSuggestWidget-background: #f8f8f8;
  --vscode-editorSuggestWidget-border: #c8c8c8;
  --vscode-editorSuggestWidget-foreground: #3b3b3b;
  --vscode-editorSuggestWidget-selectedBackground: #e8e8e8;
  --vscode-editorSuggestWidget-highlightForeground: #0066bf;
}
